<!doctype html>
<html lang="en">

<head>
    <title>Vertify</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css and fonts tag -->
    <link rel="stylesheet" href="/css/authentication.css" />
    <!-- font and icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body style="background-color: #0d1117 !important;">
    <header>

    </header>
    <main>
        <div class="container-fluid">
            <div class="d-flex justify-content-center display-3 py-3 text-white">Logo</div>
            <div class="container ">
                <div class="vertifyCode-wrapper">
                    <h2 class="vertifyCode-title pb-3">devide Vertification</h2>
                    <div class="code-receive-place p-1">

                        <div class="px-3 pb-3">
                            <div class="pt-3 px-3">
                                <div class="d-flex justify-content-center email-icon pb-1">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <h2 class="vertify-sms py-3">SMS</h2>
                            </div>
                            <p class="vertify-sms-rep px-3">We just sent your authentication code via PhoneNumber to
                                <span id="num-receive" class="num-receive">0123456789</span>.
                            </p>

                            <div class="px-3 pb-3">
                                <h2 class="input-code-title">Devide Vertification code</h2>
                                <input type="text" name="vertify-code" id="vertify-code"
                                    class="w-100 rounded-2 d-block p-1  my-2 input-code" placeholder="XXXXXX">
                                <button class="vertify-button w-100 py-1 my-2 rounded-2" id="vertify-button"
                                    name="vertify-button">Vertify</button>
                            </div>
                        </div>
                    </div>
                    <div class="resend-wrapper p-3 my-3">
                        <h2 class="another-vertify-title px-3">Having trouble verifying?</h2>
                        <ul class="vertify-ul px-3">
                            <li><a href="">Re-send the authentication code</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <footer>

    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>