<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/waiting.css">
</head>
<body>
    <div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        <!-- 	<li></li> -->
        </ul>
        <h1>Yêu cầu của bạn đang được xử lý, sẽ mất chút ít thời gian, chúng tôi sẽ gửi thông tin chi tiết qua mail của bạn</h1>
    </div>
</body>
</html>