<!DOCTYPE html>
<html>
<head>
    <title>Chào mừng bạn đến với cộng đồng học guitar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
        }
        .btn:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Chào mừng bạn đến với trang web học guitar</h2>
            <p>Cảm ơn bạn đã tham gia vào cộng đồng của chúng tôi!</p>
        </div>
        <p>Xin chào [Tên thành viên mới],</p>
        <p>Chúng tôi xin gửi lời cảm ơn sâu sắc vì đã đăng ký tham gia vào trang web học guitar hàng đầu. Chúng tôi rất hân hạnh được chào đón bạn vào cộng đồng âm nhạc sôi động và đầy sáng tạo này.</p>
        <p>Tại [tên website], bạn sẽ nhận được những lợi ích sau khi học guitar:</p>
        <ul>
            <li>Chương trình học linh hoạt với nhiều khóa học phù hợp với trình độ và lịch trình của bạn.</li>
            <li>Giáo viên có kinh nghiệm và tận tâm giảng dạy.</li>
            <li>Tài liệu học tập đa dạng bao gồm video hướng dẫn, bản nhạc và tài liệu tham khảo giá trị.</li>
            <li>Tham gia cộng đồng hỗ trợ nhiệt tình từ các thành viên khác.</li>
            <li>Cập nhật thường xuyên với nội dung học tập mới nhất.</li>
            <li>Tiến bộ đáng kể trong việc chơi guitar.</li>
        </ul>
        <p>Hãy sẵn sàng cho một hành trình âm nhạc đầy thú vị và ý nghĩa cùng [tên website]!</p>
        <p>Nhấn vào nút bên dưới để khám phá trang web của chúng tôi:</p>
        <div style="text-align: center;">
            <a href={{url}} class="btn">Khám phá ngay</a>
        </div>
        <p>Nếu bạn có bất kỳ câu hỏi hoặc cần hỗ trợ nào, đừng ngần ngại liên hệ với chúng tôi qua email hoặc diễn đàn của cộng đồng.</p>
        <p>Chúc bạn một ngày vui vẻ và thành công trong việc học guitar!</p>
        <p>Trân trọng,</p>
        <p>PhucKHoa</p>
    </div>
</body>
</html>
