<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Từ chối cấp quyền Admin</title>
  <style>
    /* Thiết lập các kiểu cho email */
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 8px;
    }

    h2 {
      color: #007bff;
    }

    p {
      margin-bottom: 20px;
    }

    .button {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
    }

    .button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Thông báo từ chối cấp quyền Admin</h2>
    <p>Kính gửi {{user_name}},</p>
    <p>Chúng tôi xin chân thành cảm ơn bạn đã quan tâm và ứng tuyển vào vị trí Admin tại trang quản lý các khóa học về âm nhạc của chúng tôi. Chúng tôi đã xem xét kỹ yêu cầu của bạn và hoan nghênh tinh thần nhiệt tình mà bạn đã thể hiện.</p>

    <p><strong>Tuy nhiên, sau khi xem xét và xem xét kỹ, chúng tôi đã quyết định không cấp quyền Admin cho bạn lúc này.</strong> Quyết định này không có nghĩa là khả năng và năng lực của bạn không được đánh giá cao, mà chỉ là do lựa chọn của chúng tôi dựa trên nhu cầu và yêu cầu cụ thể của vị trí này.</p>

    <p>Xin lỗi vì sự từ chối này, chúng tôi hiểu rằng bạn đã dành thời gian và nỗ lực để chuẩn bị cho ứng tuyển. Chúng tôi rất trân trọng và tôn trọng sự quan tâm của bạn đến cộng đồng của chúng tôi.</p>

    <p>Rất mong được hợp tác và chia sẻ cơ hội khác trong tương lai. Nếu bạn có bất kỳ câu hỏi hoặc cần thêm thông tin, xin đừng ngần ngại liên hệ với chúng tôi.</p>

    <p>Cảm ơn bạn một lần nữa và chúc bạn thành công trong những kế hoạch tương lai.</p>

    <p>Trân trọng,</p>
    <p>Ban quản trị Trang quản lý các khóa học về âm nhạc</p>
    <p>phuckhoa81@gmail.com</p>
    <p>Manager. CFF of SolielMusic</p>
  </div>
</body>
</html>
