<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Chào mừng</title>
  <style>
    /* Thiết lập các kiểu cho email */
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 8px;
    }

    h1 {
      color: #007bff;
    }

    p {
      margin-bottom: 20px;
    }

    .button {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
    }

    .button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Chào mừng bạn gia nhập đội ngũ Admin!</h1>
    <p>Kính gửi {{user_name}}</p>
    <p>Chúc mừng và chào mừng bạn gia nhập đội ngũ Admin của chúng tôi tại trang quản lý các khóa học về âm nhạc! Đây là một bước quan trọng trong sự phát triển của cộng đồng âm nhạc của chúng tôi, và chúng tôi rất vui mừng có bạn là một phần của nó.</p>

    <p><strong>Dưới đây là một số quy định quan trọng khi trở thành Admin:</strong></p>
    <ol>
      <li>Trách nhiệm của Admin:
        <ul>
          <li>Quản lý nội dung và thông tin về các khóa học, đảm bảo rằng thông tin là chính xác và đầy đủ.</li>
          <li>Hỗ trợ thành viên trong việc tìm kiếm thông tin và giải đáp các câu hỏi liên quan đến khóa học.</li>
          <li>Giám sát hoạt động của cộng đồng và đảm bảo tôn trọng và văn hóa trong tất cả các tương tác.</li>
        </ul>
      </li>
      <li>Tôn trọng quyền riêng tư:
        <ul>
          <li>Không chia sẻ thông tin cá nhân của thành viên hoặc Admin khác mà không có sự đồng ý của họ.</li>
          <li>Bảo mật thông tin liên quan đến tài khoản Admin và không chia sẻ thông tin đăng nhập với bất kỳ ai khác.</li>
        </ul>
      </li>
      <li>Tham gia tích cực:
        <ul>
          <li>Tham gia vào các cuộc họp và thảo luận của đội Admin để góp ý và phát triển cộng đồng.</li>
          <li>Giữ liên lạc thường xuyên với đội ngũ Admin và các thành viên để hỗ trợ và thúc đẩy hoạt động tốt nhất.</li>
        </ul>
      </li>
    </ol>

    <p>Chúng tôi rất hân hạnh khi có bạn làm Admin và tin rằng bạn sẽ đóng góp một cách tích cực và mang lại sự đổi mới cho cộng đồng của chúng tôi.</p>

    <p>Vui lòng nhấp vào nút bên dưới để truy cập trang chủ của chúng tôi:</p>
    <a class="button" href="{{url}}">Trang chủ</a>

    <p>Nếu bạn có bất kỳ câu hỏi hoặc cần hỗ trợ nào, xin đừng ngần ngại liên hệ với chúng tôi. Hãy cùng nhau xây dựng một cộng đồng âm nhạc vững mạnh và phát triển!</p>

    <p>Trân trọng,</p>
    <p>Ban quản trị Trang quản lý các khóa học về âm nhạc</p>
    <p>phuckhoa81@gmail.com </p>
    <p>
        Manager, Solielmusic page
    </p>
  </div>
</body>
</html>
